config.mk
builds/unix/confdefs.h
builds/unix/config.log
builds/unix/conftest.one
objs/ftmodule.h
builds/unix/config.status
builds/unix/freetype-config
builds/unix/freetype2.pc
builds/unix/ftconfig.h
builds/unix/libtool
builds/unix/unix-cc.mk
builds/unix/unix-def.mk
objs/apinames
objs/*.lo
objs/*.o
objs/ftexport.sym
objs/libfreetype.la
objs/.libs
docs/reference/*.html
compile_commands.json
*.srctrlbm
*.srctrldb
*.srctrlprj
